In [1]:
import numpy as np
import pandas as pd

In [2]:
ser = pd.Series(np.random.random(5), name = "Column 01")

In [3]:
ser

0    0.649860
1    0.640622
2    0.022700
3    0.875074
4    0.393805
Name: Column 01, dtype: float64

In [4]:
ser[2]

0.022699937874711584

In [10]:
from pandas_datareader import data as wb

In [13]:
PG = wb.DataReader('PG', data_source='yahoo', start='2015-1-1')

In [14]:
PG

,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,
2015-01-02,91.000000,89.919998,90.839996,90.440002,7251400.0,76.279633
2015-01-05,91.000000,89.849998,90.230003,90.010002,8626100.0,75.916954
2015-01-06,90.559998,89.260002,90.309998,89.599998,7791200.0,75.571159
2015-01-07,90.370003,89.559998,89.940002,90.070000,5986600.0,75.967552
2015-01-08,91.230003,90.129997,90.480003,91.099998,6823300.0,76.836281
...,...,...,...,...,...,...
2020-05-11,116.010002,114.919998,115.750000,115.309998,6947500.0,115.309998
2020-05-12,115.900002,114.139999,115.199997,114.550003,6734400.0,114.550003
2020-05-13,115.349998,113.730003,114.279999,113.919998,9312600.0,113.919998
2020-05-14,114.449997,111.250000,113.540001,113.809998,9310000.0,113.809998
2020-05-15,114.790001,112.050003,113.930000,114.610001,10694800.0,114.610001